# This is Git's per-user configuration file.
# // ~/.gitconfig
[user]
	email = erik@wizeline.com
# Please adapt and uncomment the following lines:
#	name = Erik Villa
#	email = erikvilla@wizeline.com
